*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    text-decoration: none;
}

#container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 242px 301px;
    background-color: #ffffff;
    border-radius: 5px;
    padding: 10px 10px;
}

.cardImg{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 400px;
    font-size: 22px;
    font-weight: bold;
    line-height: 36px;
    text-align: center;
    background-color: #ffffff;
}

.cardImg img,h1{
    padding-bottom:20px;
    background-color: #ffffff;
}

.card{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    background-color: #ffffff;
}

.linha{
    border: 1px solid #cccccc;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 30px;
}

.card p,span{
    display: inline-block;
    background-color: #ffffff;
    
}
.card .info p{
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0.25px;
    text-align: center;
    background-color: #ffffff;
}

.card .info span{
    color: lightgray;
}

.card h4{
    background-color: #ffffff;
}

 .card .info,span{
    padding: 5px;
    background-color: #ffffff;
 }

 .cardResumo{
    width: 100%;
    padding: 20px 0;
    background-color: #ffffff;
 }

 .cardResumoInfo{
    display: flex;
    width: 100%;
    padding: 15px 0;
    gap: 15px;
    align-items: center;
    background-color: #ffffff;
 }

 .cardResumo h4{
    background-color: #ffffff;
 }

 .cardResumo .cardResumoInfo img{
    background-color: #E2E3FF;
    width: 65px;
    height: 50px;
    border-radius: 5px;
    padding: 10px;
 }

 .cardResumo .cardResumoInfo p{
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0.75px;
    text-align: left;
    width: 40%;
    background-color: #ffffff;
 }

.cardFooter{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: rgba(246, 170, 28, 0.15);
    padding: 20px;
    border-radius: 4px;
    border: 1px;
}

.cardFooter div span{
    font-family: Inter;
    font-size: 24px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0.75px;
    text-align: center;
    background-color: rgba(246, 170, 28, 0.15);
}

.cardFooter div p{
    font-size: 11px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 1px;
    text-align: right;
    color: #8f8f8f;
    background-color: rgba(246, 170, 28, 0.15);
   
}

.cardFooter h2{
    background-color: rgba(246, 170, 28, 0.15);
    
}

.cardFooter div{
    background-color: rgba(246, 170, 28, 0.20);

}

.cardFooter div h2{
    line-height: 38px;
    letter-spacing: 0.75px;
    text-align: left;
    font-size: larger;
    background-color: rgba(246, 170, 28, 0.15);
}

a{
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.75px;
    text-align: left;
    color:#474747;
    text-decoration: underline;
    padding: 15px 0;
    background-color: #ffffff;

 }


 @media (min-width: 768px) and (min-width: 1023px){
    #container{
        margin: 318px 400px;
    }
 }

 @media screen and (max-width: 767px){
    
 }




