@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');
.img1 {
  position: relative;
  width: 466px;
  height: 466px;
  top: 30px;
  left: 129px;
}
.imtip {
  position: absolute;
  width: 573px;
  height: 330px;
  top: 57px;
  left: 52px;
}
.container {
  position: absolute;
  width: 573px;
  height: 330px;
  top: 57px;
  left: 692px;
}
.titulo1 {

  font-family: Inter;
  font-size: 14px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0.75px;
  text-align: left;
  color: #C92071;

}
.content {
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: 0.9999998807907104px;
  text-align: left;
  color: #474747;
  width: 514px;
  height: 100px;
  top: 2882px;
  left: 692px;
  padding: 20px 0 0 0;

  
}
.content2 {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.75px;
  text-align: left;
  color: #474747;
  padding: 40px 0 0 0;
  ;
}
.button {
  position: relative;
  width: 200px;
  height: 40px;
  top: 20px;
  background-color: #C92071;
  color: #F5F5F5;
  font-family: Inter;
  font-size: 14px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0.75px;
  border-radius: 7px;
  




}