@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');
  *{
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
footer{
  background-color: #1F1F1F;
  color: #FFFFFF;
  height: 450px;
}
footer a{
color: inherit;
}

footer a:hover{
  color: inherit;
  border-bottom: 1px solid white;
  }

#fColunas{
  display: flex;
  align-items: center;
  justify-content: center;  
  width: 100vw;
  height: 350px;
}

#fColuna1{
  width: 46%;
  padding: 0 100px;
}

#fColuna1 h2{
  font-size: 36px;
}

#fColuna1 h2 img{
  margin-right: 10px;
}

#fColuna1 img{
  margin-right: 40px;
}

#fColuna1 p{
  margin-top: 30px;
  padding: 0  100px 0 0;
  height: 140px;
}

#fColuna2{
  width: 18%;
  height: 200px;
}

#fColuna2 h3{
  margin-bottom: 30px;
}

#fColuna2 li{
  margin-bottom: 10px;
}


#fColuna3{
  width: 18%;
  height: 200px;
}

#fColuna3 h3{
  margin-bottom: 30px;
}

#fColuna3 li{
  margin-bottom: 10px;
}

#fColuna4{
  margin-top: 0;
  width: 18%;
  margin-right: 90px;
  height: 200px;
}
#fColuna4 h3{
 margin-bottom: 30px;
}

#fColuna4 p{
  margin-bottom: 20px;
}

#linha{
  border: 1px solid #FFFFFF30;
  width: 90%;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-top: 30px;
}

#direitos{
  display: flex;
  justify-content: center;
  margin-top: 20px;
}